version: "3.8"

services:
  # MQTT - Giữ nguyên vì đã chuẩn
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    restart: always
    ports:
      - "8883:8883"
    volumes:
      - ./mqtt/config:/mosquitto/config
      - ./mqtt/data:/mosquitto/data
      - ./mqtt/log:/mosquitto/log
      - ./openssl-certs/mqtt-server.crt:/mosquitto/config/certs/mqtt-server.crt
      - ./openssl-certs/mqtt-server.key:/mosquitto/config/certs/mqtt-server.key
      - ./openssl-certs/rootCA.crt:/mosquitto/config/certs/rootCA.crt
    networks:
      - iot_net

  # WEB - Sửa lỗi Mount và Env
  web:
    image: python:3.11
    build: ./web
    container_name: web
    working_dir: /app
    volumes:
      - ./web:/app
      - ./openssl-certs:/app/certs:ro
    environment:
      - MQTT_CERT_PATH=/app/certs/rootCA.crt
      - MQTT_CLIENT_CERT=/app/certs/web.crt
      - MQTT_CLIENT_KEY=/app/certs/web.key
      - INFLUXDB_URL=https://db:8086
      - INFLUXDB_TOKEN=mysecrettoken
    ports:
      - "5000:5000"
    depends_on:
      - mqtt
      - db
    networks:
      - iot_net


  # ==================================================
  # INFLUXDB – HTTPS
  # ==================================================
  db:
    image: influxdb:2.7
    container_name: influxdb
    restart: always
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: admin123
      DOCKER_INFLUXDB_INIT_ORG: MyHome
      DOCKER_INFLUXDB_INIT_BUCKET: SensorData
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: mysecrettoken
      INFLUXD_TLS_CERT: /certs/influxdb.crt
      INFLUXD_TLS_KEY: /certs/influxdb.key
    volumes:
      - ./db:/var/lib/influxdb2
      - ./openssl-certs/influxdb.crt:/certs/influxdb.crt
      - ./openssl-certs/influxdb.key:/certs/influxdb.key
    networks:
      - iot_net


  # ==================================================
  # GRAFANA – HTTPS
  # ==================================================
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_SERVER_PROTOCOL: https
      GF_SERVER_CERT_FILE: /certs/grafana.crt
      GF_SERVER_CERT_KEY_FILE: /certs/grafana.key
    volumes:
      - ./grafana:/var/lib/grafana
      - ./openssl-certs/grafana.crt:/certs/grafana.crt
      - ./openssl-certs/grafana.key:/certs/grafana.key
    depends_on:
      - db
    networks:
      - iot_net


  # ==================================================
  # KEYCLOAK – HTTP + HTTPS (KHÔNG TẮT HTTP)
  # ==================================================
  # KEYCLOAK - Chuyển hẳn sang HTTPS
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    restart: always
    command: start 
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: db-keycloak
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: some_secret_password
      # HTTPS Config
      KC_HTTPS_CERTIFICATE_FILE: /opt/keycloak/conf/keycloak.crt
      KC_HTTPS_CERTIFICATE_KEY_FILE: /opt/keycloak/conf/keycloak.key
      KC_HTTP_ENABLED: "false" 
      KC_HOSTNAME_STRICT: "false"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8444:8443" # Map ra 8444 để tránh trùng với Envoy (8443)
    volumes:
      - ./openssl-certs/keycloak.crt:/opt/keycloak/conf/keycloak.crt
      - ./openssl-certs/keycloak.key:/opt/keycloak/conf/keycloak.key
    depends_on:
      - db-keycloak
    networks:
      - iot_net


  # ==================================================
  # OPA – HTTPS
  # ==================================================
  opa:
    image: openpolicyagent/opa:latest
    container_name: opa
    restart: no
    command:
      - run
      - --server
      - --addr=0.0.0.0:8181
      - --tls-cert-file=/certs/opa.crt
      - --tls-private-key-file=/certs/opa.key
      - --log-level=debug
      - /policies
    ports:
      - "8181:8181"
      - "9191:9191"
    volumes:
      - ./opa/policies:/policies
      - ./openssl-certs/opa.crt:/certs/opa.crt
      - ./openssl-certs/opa.key:/certs/opa.key
    networks:
      - iot_net


  # ==================================================
  # ENVOY – HTTPS + mTLS (ĐÃ CÓ)
  # ==================================================
  envoy:
    image: envoyproxy/envoy:v1.30-latest
    container_name: envoy
    command: ["envoy", "-c", "/etc/envoy/envoy.yaml", "--log-level", "debug"]
    ports:
      - "8443:8443"
      - "9901:9901"
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml
      - ./openssl-certs:/etc/envoy/certs:ro
    depends_on:
      - web
      - keycloak
    networks:
      - iot_net


  # ==================================================
  # POSTGRES FOR KEYCLOAK
  # ==================================================
  db-keycloak:
    image: postgres:15
    container_name: db-keycloak
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: some_secret_password
    volumes:
      - ./keycloak-db:/var/lib/postgresql/data
    networks:
      - iot_net


networks:
  iot_net:
    driver: bridge
